body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    font-size: 30px;
    border-bottom: 2px solid black;
}
.mainbox{
    height: 500px;
    width: 300px;
    box-shadow: 3px 3px 20px black;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
}

form input{
    border: none;
    border-radius: 5px;
    height: 150px;
    width: 100%;
    background-color: rgb(10, 10, 29);
    color: white;
    font-size: 2rem;
    text-align: right;
    pointer-events: none;
}
.buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}
button{
    color: white;
    background-color: black;
    border-radius: 3px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    border: 1px solid white;
    cursor: pointer;
}
